<h2 class="mt-3 mb-3">{{@title}}</h2>
<div class="container">
  <div class="row">
    {{#each @people as |person|}}
    <div class="col-md">
      <div class="card mb-4" style="width: 16rem;">
        {{#if person.avatar}}
        <img class="card-img-top" src="{{person.avatar}}" alt="Card image cap">
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{person.first_name}} {{person.last_name}}</h5>
          <p class="card-text">Some quick example text about {{person.first_name}} {{person.last_name}} and their email
            address.
          </p>
          <button class="btn btn-info" {{on 'click' (fn this.showPerson person.email)}}>Show email</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>